onlinechat/target/
onlineshop/.project
onlineshop/.settings/
teleforum/target/
onlineshop/.gitignore
allBenchmarks/
allGroundTruth/
*.class
*.project
*.prefs
*.classpath
.idea
*.dot
*.ser
.DS_Store
*.dst
*error.txt
*stats.txt
*.iml
target
*.svg
avighna-output/